body {
  background: #fff;
  font-family: "Barlow", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Russo One", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.irs--flat .irs-bar {
  background-color: #000 !important;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background-color: #000 !important;
}
.irs-single:before {
  border-top-color: #000 !important;
}
.irs--flat .irs-handle > i:first-child {
  background-color: #000 !important;
  border-radius: 50%;
}
.irs--flat .irs-handle > i:first-child::before {
  position: absolute;
  content: "< >";
  background-color: #000 !important;
  border: 1px solid #fff;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
